:root{
    --dark-cyan:#0E8784;
    --dark-grey-blue:#333D4B;
    --light-saumon:#FDD6BA;
    --light-cream:#FEFCF7;
    --grey:#83888F;
    --button-hover:#66D2CF;
    --button-disabled:#E2DEDB;
}

body{
    padding-left: 15px;
    padding-right: 15px;
}

.section-title{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--light-cream);
    text-align: center;
}

.section-title-black{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 40px;
    color: black;
    text-align: center;
}

.subsection-title{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 28px;
    color: var(--light-cream);
    text-align: center;
}

.subsection-title-black{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 28px;
    color: black;
    text-align: center;
}

.minisection-title{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    color: var(--light-cream);
    text-align: center;
}

.minisection-title-black{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    color: black;
    text-align: center;
}

.minisection-title-grey{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    color:var(--grey);
    text-align: center;
}

.top{
    padding: 30px 0;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.logo{
    max-height: 18px;
}

#menu{
    display: none;
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 100%;
    background: linear-gradient(359deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    flex-direction: column;
    align-items: center;
}

#menu div{
    margin-top:20px;
}

#menu a{
    color: var(--dark-grey-blue);
    text-decoration: none;
}

.hero{
    background: center / cover no-repeat url("./assets/home/mobile/image-hero-coffeepress.jpg");
    border-radius: 10px;
    padding: 50px 25px 80px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
     
}

.hero h2{
    
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--light-cream);
    text-align: center;
}

p{
    font-family: 'barlow',sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--light-cream);
    text-align: center;
}

button{
    font-family: 'Fraunces',serif;
    font-size: 18px;
    font-weight: 900;
    color: var(--light-cream);
    background-color: var(--dark-cyan);
    padding:16px 31px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 35px;
    border:0;
}

button:hover{
    background-color: var(--button-hover);
    cursor: pointer;
}

.collection h1{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.collection h3{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.collection p{
    color: var(--dark-grey-blue);
}

.collection img {
    max-height: 151px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.why{
    max-height: 1250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: var(--dark-grey-blue);
    margin-bottom: 200px;
}

.whyTitle{

    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    color: var(--light-cream);
}

.why h3{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: var(--light-cream);
    margin: 50px 0 30px;
}

.why div{
    border-radius: 10px;
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px;
    padding:50px;
    
}

.how{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.mainHow{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color:var(--grey);
}

.howTitle{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    color:var(--dark-grey-blue);
    margin-top: 15px;
}

.number{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    color:var(--light-saumon);
    margin-bottom: 5px;
}

.dark-p{
    color: var(--dark-grey-blue);
}

footer{
    background-color: var(--dark-grey-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-top: 150px;
    font-family: 'barlow',sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-variant-caps:all-small-caps;
    color: var(--grey);
}

footer img{
    margin-bottom: 50px;
}

footer div{
    margin-top: 15px;
    margin-bottom: 15px;
}

footer a{
    text-decoration: none;
    font-family: 'barlow',sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-variant-caps:all-small-caps;
    color: var(--grey);
}

.social img{
    margin: 15px;
}

.about{
    background: center / cover no-repeat url("./assets/about/mobile/image-hero-whitecup.jpg");
    border-radius: 10px;
    padding: 50px 25px 80px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
}

.commitment{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}


.barista-img{
    max-height: 400px;
    border-radius: 10px;
}

.quality{
    position: relative;
    border-radius: 10px;
    background-color: var(--dark-grey-blue);
    padding: 0 35px 35px 35px;
    margin-top: 160px;
    padding-top: 80px;
}

.quality img{
    position: absolute;
    border-radius: 10px;
    width: 280px;
    top: 0%;
    margin-top: -80px;
}

.commitment p, .location p{
    color: var(--dark-grey-blue);
}

.location{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.location img{
   
    margin-bottom: auto;
    margin-right: auto;
}

.svg-container{
    width: 55px; 
    height: 55px;
    margin: 65px auto 5px auto;
}

.plan-intro{
    background: center / cover no-repeat url("./assets/plan/mobile/image-hero-blackcup.jpg");
    border-radius: 10px;
    padding: 50px 25px 80px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
}

.steps{
    /*background: center / cover no-repeat url("./assets/plan/mobile/bg-steps.png");*/
    background-color: var(--dark-grey-blue);
    border-radius: 10px;
    padding:0 35px 35px 35px;
    margin-top: 40px;
}
.submenu{
    display: none;
}

.preference,.bean,.quantity,.grind,.delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.option{
    background-color: var(--light-cream);
    border-radius: 10px;
    padding:10px;
    text-align: left;
    border: var(--button-disabled) solid 1px;
    margin: 12px 0;
}

.optionSelected{
    background-color: #0E8784;
    border-radius: 10px;
    padding:10px;
    text-align: left;
    border: var(--button-disabled) solid 1px;
    margin: 12px 0;
}

.optionSelected p, .optionSelected h4{
    color: var(--light-cream);
}

.preference p, .preference h4,.bean p, .bean h4,.quantity p, .quantity h4,
.grind p, .grind h4,.delivery p, .delivery h4{
    text-align: left;
}

.summary{
    background-color: var(--dark-grey-blue);
    border-radius: 10px;
    padding:0 35px 35px 35px;
    margin-top: 40px;
}

.summary-title{
    text-decoration: none;
    font-family: 'barlow',sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-variant-caps:all-small-caps;
    color: var(--grey);
}

.summary span, #modal span{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    color:var(--dark-cyan);
}

#modal{
    display: none; 
}

#modal-header{
    padding: 10px;
    background-color: var(--dark-grey-blue);
    
}

#price{
    font-family: 'Fraunces',serif;
    font-size: 18px !important;
    font-weight: 900;
    color: var(--light-cream) !important;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
}