:root{
    --dark-cyan:#0E8784;
    --dark-grey-blue:#333D4B;
    --light-saumon:#FDD6BA;
    --light-cream:#FEFCF7;
    --grey:#83888F;
    --button-hover:#66D2CF;
    --button-disabled:#E2DEDB;
}

#menu{
    display: none;
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

.hero{
    background: center / cover no-repeat url("./assets/home/mobile/image-hero-coffeepress.jpg");
     
}

.hero h2{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--light-cream);
}

p{
    font-family: 'barlow',sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--light-cream);
}

button{
    font-size: 18px;
    font-weight: 900;
    color: var(--light-cream);
    background-color: var(--dark-cyan);
}
